/.idea/
tb_logger/*
*__pycache__
/results/*
/experiments/*
trash

# Log
*.log
*.csv
torchprofiler
run_server7.py
# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.pyc
*TestData*

*.egg-info
*.EGG-INFO
*build

*.vscode
**.engine
**.npy
profile_main.py
tmp/*
paper