__pycache__
.vscode/
trash
trash/**
*.pyc
*/__pycache__
logs

results
result
modules/__pycache__/__init__.cpython-37.pyc
modules/__pycache__/cbam.cpython-37.pyc
model_reduce
model_history
*.npy

dataset


tb_profile_logger
scp.sh
**tar.gz
